# Set this to the LAN IP of the machine running the containers.
# Required if you want to use Studio from other machines on the network.
IP=192.168.1.100
COUCHDB_USER=admin
COUCHDB_PASSWORD=change-me
STROM_API_KEY=
